<h2>Methods run, sorted chronologically</h2><h3>&gt;&gt; means before, &lt;&lt; means after</h3><p/><br/><em>Default suite</em><p/><small><i>(Hover the method name to see the test class name)</i></small><p/>
<table border="1">
<tr><th>Time</th><th>Delta (ms)</th><th>Suite<br>configuration</th><th>Test<br>configuration</th><th>Class<br>configuration</th><th>Groups<br>configuration</th><th>Method<br>configuration</th><th>Test<br>method</th><th>Thread</th><th>Instances</th></tr>
<tr bgcolor="73f6d9">  <td>18/09/05 10:28:38</td>   <td>0</td> <td title="&gt;&gt;TestBase.setUp()[pri:0, instance:com.w2a.testcase.LoginTest@5fcd892a]">&gt;&gt;setUp</td> 
<td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td>  <td>main@518522822</td>   <td></td> </tr>
<tr bgcolor="a3707a">  <td>18/09/05 10:28:45</td>   <td>7433</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="LoginTest.loginAsAdnin()[pri:0, instance:com.w2a.testcase.LoginTest@5fcd892a]">loginAsAdnin</td> 
  <td>main@518522822</td>   <td></td> </tr>
<tr bgcolor="73f6d9">  <td>18/09/05 10:28:51</td>   <td>12935</td> <td title="&lt;&lt;TestBase.tearDown()[pri:0, instance:com.w2a.testcase.LoginTest@5fcd892a]">&lt;&lt;tearDown</td> 
<td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td>  <td>main@518522822</td>   <td></td> </tr>
</table>
