<h2>Methods run, sorted chronologically</h2><h3>&gt;&gt; means before, &lt;&lt; means after</h3><p/><br/><em>Data Driven Test</em><p/><small><i>(Hover the method name to see the test class name)</i></small><p/>
<table border="1">
<tr><th>Time</th><th>Delta (ms)</th><th>Suite<br>configuration</th><th>Test<br>configuration</th><th>Class<br>configuration</th><th>Groups<br>configuration</th><th>Method<br>configuration</th><th>Test<br>method</th><th>Thread</th><th>Instances</th></tr>
<tr bgcolor="87ba92">  <td>18/09/06 14:39:45</td>   <td>0</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="addAdmin.addNewAdmin(java.lang.String, java.lang.String, java.lang.String, java.lang.String, java.lang.String, java.lang.String)[pri:0, instance:com.w2a.testcase.addAdmin@7161d8d1]">addNewAdmin</td> 
  <td>main@764419760</td>   <td></td> </tr>
<tr bgcolor="916da3">  <td>18/09/06 14:39:38</td>   <td>-7086</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="LoginTest.loginAsAdnin()[pri:0, instance:com.w2a.testcase.LoginTest@f78a47e]">loginAsAdnin</td> 
  <td>main@764419760</td>   <td></td> </tr>
<tr bgcolor="716f7a">  <td>18/09/06 14:38:08</td>   <td>-97290</td> <td title="&gt;&gt;TestBase.setUp()[pri:0, instance:com.w2a.testcase.addAdmin@7161d8d1]">&gt;&gt;setUp</td> 
<td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td>  <td>main@764419760</td>   <td></td> </tr>
<tr bgcolor="716f7a">  <td>18/09/06 14:39:46</td>   <td>621</td> <td title="&lt;&lt;TestBase.tearDown()[pri:0, instance:com.w2a.testcase.addAdmin@7161d8d1]">&lt;&lt;tearDown</td> 
<td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td>  <td>main@764419760</td>   <td></td> </tr>
</table>
