<h2>Reporter output</h2><table><tr><td>Click to see screenshot</td></tr>
<tr><td><a target="_blank" href=Thu_Sep_06_14_39_46_WAT_2018.jpg>Screenshot</a></td></tr>
<tr><td><br></td></tr>
<tr><td><br></td></tr>
<tr><td><a target="_blank" href=Thu_Sep_06_14_39_46_WAT_2018.jpg><img src =Thu_Sep_06_14_39_46_WAT_2018.jpg height=200 width=200></a></td></tr>
</table>